* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: lightgrey;
}

section {
    display: flex;
    justify-content: space-evenly;
}


th, td{
    border: 1px solid black;  
}

.table-1 {
    background-color: rgb(213, 108, 32);
    border: 1px solid black;
}

.table-2 {
    background-color: lightblue;
    border: 1px solid black;
}

.table-3 {
    background-color: pink;
    border: 1px solid black;
}

.table-4 {
    background-color: lightyellow;
}